

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #202225;
    color: #ffffff;
}

header {
    background-color: rgb(47, 49, 54);
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
}

.intro {
    text-align: center;
    padding: 50px 20px;
}

.intro h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.intro p {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.button-link {
    padding: 10px 20px;
    background-color: transparent;
    color: #a751f2;
    text-align: center;
    text-decoration: none;
    border: 2px solid #a751f2;
    border-radius: 7px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.button-link:hover {
    background-color: #a751f2;
    color: #ffffff;
    border-color: #a751f2;
    transition: 0.7s;
}




