body {
    font-family: "Courier New", Courier, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Nimbus Mono L", "Monaco", Consolas, "Andale Mono", "Ubuntu Mono", monospace;
    margin: 0;
    padding: 0;
    color: #ffffff;
    background-color: #18191a;
    height: 100vh;
    overflow: hidden;
}

header {
    background-color: #0f0d1c; 
    padding: 10px 20px;
}

p{
    font-weight: bold;
    color: #ddd;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 17px;
    padding: 5px;
}

nav ul li a:hover{
    background-color: rgb(0, 255, 125);
    border-radius: 5px;
    transition: 0.5s;
}

.container {
    display: flex;
    height: 100vh; 
    overflow: hidden;
}

.sidebar {
    background-color: #0f0d1c; 
    padding: 20px;
    width: 20%;
    color: #ffffff;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.progress-section {
    margin-bottom: 20px;
}

.progress-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.progress-bar {
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
}

.progress {
    height: 13px;
    width: 0%;
    background-color: rgb(0, 255, 125);
    border-radius: 5px;
    transition: width 0.3s;
}

.content {
    background-color: #080710;
    padding: 20px;
    width: 80%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.exercise-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* .button-exercises {
    padding: 10px 20px;
    background-color: #3a3b3c;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.button-exercises:hover {
    background-color: #4b4c4f;
} */

.exercise-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.enunciado-exercicio {
    padding: 15px;
    background-color: #141124ba;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    width: 90%;
    font-weight: bold;
}

.enunciado-exercicio:hover {
    box-shadow: 0 0 0 3px rgb(0, 255, 125);
}


.button-submit-exercise {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(0, 255, 125);
    color: #ffffff;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 15%;
    font-size: 17px;
}

.button-submit-exercise:hover {
    background-color: rgb(1, 196, 95);
    transition: 0.3s;
}

input[type="radio"] {
    margin-right: 10px;
}

/*
  background-color: #080710; azul bem escuro

*/