<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeetFinance</title>
    <link rel="stylesheet" href="/mvp/static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <!-- <img src="/mvp/images/NeetFinanecLogo.png" class="logo-image" alt=""> -->
                <li><a href="https://www.example.com">Cursos</a></li>
                <li><a href="/mvp/templates/exercicios.html">Exercicios</a></li>
                <li><a href="https://www.example.com">Cronograma</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="intro">
            <h1>NeetFinance</h1>
            <p>A melhor maneira de aprender finanças do zero.</p>
            <a href="https://www.example.com" class="button-link">Get Pro</a>
        </section>
    </main>
</body>
</html>