<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeetFinance</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('login') }}">Login</a></li>
                <li><a href="#">Cursos</a></li>
                <li><a href="{{ url_for('exercicios') }}">Exercícios</a></li>
                <li><a href="#">Cronograma</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="intro">
            <h1>NeetFinance</h1>
            <p>A melhor maneira de aprender finanças do zero.</p>
            <a href="#" class="button-link">Get Pro</a>
        </section>
    </main>
</body>
</html>