<!DOCTYPE html>
<html lang="en">

<head>
  <title>login NeetFinance</title>
  <link rel="stylesheet" href="/static/css/loginstyle.css">
</head>

<body>
  <header>
    <nav>
        <ul>
            <li><a href="index.html">NeetFinance</a></li>
            <li><a href="#">Cursos</a></li>
            <li><a href="exercicios.html">Exercícios</a></li>
            <li><a href="#">Cronograma</a></li>
            <!-- <li><a href="#">{% if email %}User:{{ email }}{% endif %}</a></li> feio mas funciona -->
        </ul>
    </nav>
</header>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>

  <!-- form de cadastro dos users p flask conseguir pegar os dados-->
  <form id="login-form">
    <h2>NeetFinance</h2>

    <!-- Campo para exibir mensagens de erro -->
    <div id="error-message" class="error-message" style="display: none;"></div>

    <label for="email">Email</label>
    <input type="email" placeholder="Email" id="email" name="email" required>

    <label for="senha">Senha</label>
    <input type="password" placeholder="Senha" id="senha" name="senha" required>

    <button type="submit">Log In</button>
    <button type="button" id="register-button">Criar Conta</button>
  </form>

</body>
</html>
