<!DOCTYPE html>
<html lang="en">

<head>
  <title>login NeetFinance</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/loginstyle.css') }}">
</head>

<body>
  <header>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">NeetFinance</a></li>
            <li><a href="#">Cursos</a></li>
            <li><a href="{{ url_for('exercicios') }}">Exercícios</a></li>
            <li><a href="#">Cronograma</a></li>
            <li><a href="#">{% if email %}User:{{ email }}{% endif %}</a></li> <!--feio mas funciona-->
        </ul>
    </nav>
</header>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>

  <!-- form de cadastro dos users p flask conseguir pegar os dados-->
  <form action="{{ url_for('login') }}" method="POST">
    <h2>NeetFinance</h2>

    {% if erro %}
        <div class="error-message">{{ erro }}</div>
    {% endif %}

    <label for="email">Email</label>
    <input type="email" placeholder="Email" id="email" name="email" required>

    <label for="senha">Senha</label>
    <input type="password" placeholder="Senha" id="senha" name="senha" required>

    <button type="submit">Log In</button>
    <button type="submit" formaction="{{ url_for('register') }}">Criar Conta</button>
  </form>

</body>
</html>
